@model WebCinema.Models.Film

@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Film</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="row mb-3">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Genere" class="control-label"></label>
            <input asp-for="Genere" class="form-control" />
            <span asp-validation-for="Genere" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Descrizione"></label>
            <textarea asp-for="Descrizione" rows="3" class="form-cotrol"></textarea>
            <span asp-validation-for="Descrizione" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Durata" class="control-label"></label>
            <input asp-for="Durata" class="form-control" />
            <span asp-validation-for="Durata" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="AnnoProduzione" class="control-label"></label>
            <input asp-for="AnnoProduzione" class="form-control" />
            <span asp-validation-for="AnnoProduzione" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Immagine"></label>
            <input type="file" name="file" class="form-cotrol" id="img" style="display:none;" />
            <label for="img" class="form-control">Click me to upload image</label>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}