@model WebCinema.Models.Film

@{
    ViewData["Title"] = "Upsert";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <input asp-for="Immagine" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") Film</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <div class="row mb-3">
                    <label asp-for="Titolo" class="control-label"></label>
                    <input asp-for="Titolo" class="form-control" />
                    <span asp-validation-for="Titolo" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Genere" class="control-label"></label>
                    <select asp-for="Genere" class="form-select">
                    <option disabled selected>Seleziona Categoria</option>
                        <option>Azione</option>
                        <option>Commedia</option>
                        <option>Drammatico</option>
                        <option>Horror</option>
                        <option>Fantascienza </option>
                    </select>
                    <span asp-validation-for="Genere" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Descrizione"></label>
                    <textarea asp-for="Descrizione" rows="3" class="form-cotrol"></textarea>
                    <span asp-validation-for="Descrizione" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Durata" class="control-label"></label>
                    <input asp-for="Durata" class="form-control" />
                    <span asp-validation-for="Durata" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="AnnoProduzione" class="control-label"></label>
                    <input asp-for="AnnoProduzione" class="form-control" />
                    <span asp-validation-for="AnnoProduzione" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Immagine"></label>
                    <input type="file" id="uploadBox" name="file" class="form-cotrol"/>
                </div>
               
                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    }


                    <a asp-controller="Film" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>

            </div>
        </div>
        <div class="col-2 pt-2">
            @if (Model.Immagine != null)
            {
                <img src="@Model.Immagine"
                 style="width:100%; border-radius:5px; border:1px solid #bbb9b9" />
            }
        </div>
    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough',
        });
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!',
                });
                return false;
            }
            return true;
        }
    </script>
}