@model WebCinema.Models.Sale

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Sala</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="form-group">
            <label asp-for="NumeroSala" class="control-label"></label>
            <input asp-for="NumeroSala" class="form-control" />
            <span asp-validation-for="NumeroSala" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostiDisponibili" class="control-label"></label>
            <input asp-for="PostiDisponibili" class="form-control" />
            <span asp-validation-for="PostiDisponibili" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsSense" class="control-label"></label>
            <input asp-for="IsSense" class="form-control" />
            <span asp-validation-for="IsSense" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
