@model WebCinema.Models.Sale

@{
    ViewData["Title"] = "Upsert";
}
<form method="post" asp-action="Upsert">
    <input asp-for="Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") Sala</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <div class="row mb-3">
                    <label asp-for="NumeroSala" class="control-label"></label>
                    <input asp-for="NumeroSala" class="form-control" />
                    <span asp-validation-for="NumeroSala" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="PostiDisponibili" class="control-label"></label>
                    <input asp-for="PostiDisponibili" class="form-control" />
                    <span asp-validation-for="PostiDisponibili" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="form-check">
                        <input asp-for="IsSense" class="form-check-input" />
                        <label asp-for="IsSense" class="form-check-label">Is Sense</label>
                    </div>
                    <span asp-validation-for="IsSense" class="text-danger"></span>
                </div>

                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    }


                    <a asp-controller="Sale" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>

            </div>
        </div>
    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}