@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Il sito web del cinema di Tommaso Toloni dovrebbe adottare alcune regole sulla privacy per garantire la protezione delle informazioni personali degli utenti. In particolare, dovrebbe essere chiaramente indicato quali informazioni saranno raccolte, come verranno utilizzate e se saranno condivise con terze parti. Inoltre, il sito dovrebbe adottare misure di sicurezza adeguate per proteggere le informazioni personali degli utenti e garantire loro il diritto di accesso e la possibilità di correggere o cancellare le informazioni raccolte. Infine, dovrebbe essere fornita una politica sui cookie e informazioni su come gli utenti possono scegliere di non ricevere comunicazioni di marketing. Il sito dovrebbe anche informare gli utenti su eventuali modifiche alla politica sulla privacy.
</p>
