<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebCinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/dist/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cinema.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/DataTables-1.13.4/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/Buttons-2.3.6/css/buttons.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/Select-1.6.2/css/select.dataTables.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebCinema</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Content Management</a>
                            <div class="dropdown-menu">

                                <a class="nav-link" asp-area="Admin" asp-controller="Film" asp-action="Index" style="color:black">Films</a>
                                <a class="nav-link" asp-area="Admin" asp-controller="Utenti" asp-action="Index" style="color:black">Utenti</a>
                                <a class="nav-link" asp-area="Admin" asp-controller="Posti" asp-action="Index" style="color:black">Posti</a>
                                <a class="nav-link" asp-area="Admin" asp-controller="Sale" asp-action="Index" style="color:black">Sale</a>
                                <a class="nav-link" asp-area="Admin" asp-controller="Spettacoli" asp-action="Index" style="color:black">Spettacoli</a>
                                <a class="nav-link" asp-area="Admin" asp-controller="Valutazioni" asp-action="Index" style="color:black">Valutazioni</a>
                                <a class="nav-link" asp-area="Admin" asp-controller="Prenotazioni" asp-action="Index" style="color:black">Prenotazioni</a>
                                <a class="nav-link" asp-area="Admin" asp-controller="Categorie" asp-action="Index" style="color:black">Categorie</a>

                                @*<a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>*@
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-bg-dark bg-dark bg-primary" style="position:absolute; bottom:0; width:100%">
        <div class="container">
            &copy; 2023 - WebCinema - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/DataTables/DataTables-1.13.4/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/DataTables-1.13.4/js/dataTables.bootstrap5.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/Buttons-2.3.6/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/Select-1.6.2/js/dataTables.select.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/7hew0qyhobv0tcnw8f8js9rmcam0ncf467v3t1wg3glv2b71/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
